*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.сontainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    width: 600px;
    margin-top: 20px;
    padding: 5px;
    border: 1px solid rgba(31, 31, 31, 0.945);
    background-color: rgba(31, 31, 31, 0.123);
}

.card__name{
    font-size: 20px;
    margin-bottom: 5px;
}

.card__mail{
    font-size: 15px;
    margin-bottom: 5px;
}

.card__title{
    text-transform: uppercase;
    text-align: center;
    color: rgb(71, 71, 71);;
}

.card__txt{
    margin: 10px 20px;
}

.btn{
    margin-left: 500px;
}
